<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
<!--    <p><b>User Id:</b><span th:utext="${user.id}"></span></p>-->

    <p><label for="firstName">First name: </label><br>
        <input type="text" th:field="*{firstName}" id="firstName">
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    <p><label for="lastName">Last name: </label><br>
        <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <p><label for="email">Email: </label><br>
        <input type="email" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <p><input type="submit" value="Create"></p>
</form>
</body>
</html>